# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment / secrets
.env
*.pem
*.key
*.p12
*.pfx
*.json.bak

# Go
*.exe
*.dll
*.so
*.dylib

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/
/android/app/debug
/android/app/profile
/android/app/release
/build/
ios/build/